/bin/
/build/
/dist/
target/
/target/
/.idea/
.settings/
/.settings/
/.factorypath
/.apt_generated/
*.iml
*.bat
*.log
.project
.classpath
/classes/
/docs/
logs/
*.factorypath
effective-pom.xml
.springBeans
